* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3a3d47;
}

.container {
    width: 1200px;
    background: white;
    margin: 10px auto;
}

.superior {
    background: #1551a1;
    overflow: hidden;
}

.logo {
    float: left;
}

.menu {
    float: left;
}